version: 2
jobs:
  build-production:
    machine: true
    environment:
      - AWS_REGION: "us-east-1"
      - ECR_REPOSITORY_NAME: "web"
      - CLUSTER_NAME: "shirox-test"
      - SERVICE_NAME: "web"
    steps:
      - run:
          name: Login to ECR.
          command: $(aws ecr get-login --no-include-email --region ${AWS_REGION})
      - run:
          name: Build image.
          command: |
            git clone --depth=1 -b ${CIRCLE_TAG} ${CIRCLE_REPOSITORY_URL}
            cd ${CIRCLE_PROJECT_REPONAME}
            docker build -t ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${ECR_REPOSITORY_NAME}:${CIRCLE_TAG} .
      - run:
          name: Push image.
          command: |
            docker tag ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${ECR_REPOSITORY_NAME}:${CIRCLE_TAG} ${AWS_ACCOUNT_ID}.dkr.ecr.us-east-1.amazonaws.com/${ECR_REPOSITORY_NAME}:latest
            docker push ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${ECR_REPOSITORY_NAME}:${CIRCLE_TAG}
            docker push ${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/${ECR_REPOSITORY_NAME}:latest
      - run:
          name: Exec ecs-deploy
          command: ./ecs-deploy -c ${CLUSTER_NAME} -n ${SERVICE_NAME} -i ${REPOSITORY_NAME}:${CIRCLE_TAG}
workflows:
  version: 2
  deploy:
    jobs:
      - build-production:
          filters:
            tags:
              only: /v[0-9]+\.[0-9]+\.[0-9]+/
            branches:
              ignore: /.*/
